/* 
    Document   : newCascadeStyleSheet
    Created on : Aug 10, 2010, 2:33:23 PM
    Author     : sherazsharif
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body,html {
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    font-size: 1.2em;
    padding: 3px;
}

input {
    padding: 3px;
    font-size: 1.5em;
    border: 1px dotted #999;
    margin-bottom: 10px;
}

#container {
    margin: 0 auto;
    width: 800px;
    text-align: left;
}

.thumb {
    padding: 10px;
    border: 1px dotted #999;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 10px;
}

.thumb img {
    display: block;
    border: 1px solid black;
    margin-bottom: 5px;
}